---
layout: default
---
<section class="hero">
    <div class="hero-left"></div>
    <div class="hero-center site-container">
        <h1>The realtime JavaScript backend</h1>
        <h2>Build powerful web and mobile apps that scale.</h2>
        <a class="button primary-button" href="/install">Install Horizon <i class="right-arrow white">&rarr;</i></a>
    </div>
    <div class="hero-right"></div>
</section>

<!-- intro -->
<section class="intro">
    <div class="site-container">
        <section class="intro-content">
            <h1>Horizon is a realtime, <strong> open-source backend</strong> for JavaScript apps.</h1>
            <p>
                Horizon is a standalone server (and a collection of Node.js
                modules) with a simple JavaScript API to quickly build your
                app, then scale it to millions of users.
            </p>
            <p>
                Built by the <a href="https://rethinkdb.com">RethinkDB</a>
                team and an open-source community, Horizon lets you build
                your apps with lightning speed.
            </p>
        </section>
        <section class="hz-animation">
            {% include hz-animation.html %}
            <!--<div class="terminal-window">
                <header></header>
                <section class="terminal">
                    <div class="history"></div>
                    $&nbsp;<span class="prompt"></span>
                    <span class="typed-cursor"></span>
                </section>
            </div>-->
        </section>
    </div>
</section>

<section class="screencast">
    <div class="site-container">
        <h1>Rapidly <strong>prototype, build, and deploy</strong> JavaScript apps with Horizon.</h1>
        <div class="screencast-container">
            <section class="screencast-description">
                <h2>Realtime fabric for your JavaScript app</h2>
                <p>
                    Horizon's backend packs a realtime database, useful APIs and
                    services, and makes it easy to use modern JavaScript tools like
                    React, Angular, React Native, Cycle, and other popular
                    frameworks.
                </p>
                <a class="button primary-button" href="https://www.youtube.com/watch?v=Sb1lH5mvYmU">Watch the screencast<i class="right-arrow">&rarr;</i></a>
            </section>
            <section class="hz-screenshot-container">
                <div class="hz-screenshot"><div class="play-button"></div></div>
            </section>
            <!--<iframe width="960" height="540" src="https://www.youtube.com/embed/Sb1lH5mvYmU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>-->
        </div>
    </div>
</section>

<!-- features -->
<section class="features">
    <div class="site-container">
        <article class="rethinkdb">
            <h1>Scalable, realtime database</h1>
            <p>
                Horizon is built on <a
                href="https://rethinkdb.com">RethinkDB</a>, a massively
                scalable, open-source database that streams realtime
                updates, and scales linearly to millions of operations
                per second. Horizon stores JSON data, and pushes
                data and query results to clients in realtime.
            </p>
        </article>
        <article class="auth">
            <h1>Authentication</h1>
            <p>
                Authenticate users through Facebook, Twitter, Google,
                GitHub, and other services, and manage user accounts,
                sessions, and permissions through convenient APIs.
            </p>
        </article>
        <article class="modules">
            <h1>Modular and extensible</h1>
            <p>
                Horizon is distributed as a standalone server for
                browser-based JavaScript apps. When you're ready to
                write custom backend code, use the Horizon modules in
                Node.js to smoothly transition. RethinkDB is bundled
                with Horizon, so you can make direct database queries on
                the backend using the powerful query language ReQL, for
                flexible joins, aggregations, binary file support, and
                rich querying.
            </p>
        </article>
        <article class="open-source">
            <h1>Built with love by the open source community</h1>
            <p>
                Developed by a core team of database experts
                and over 100 contributors from around the
                world, Horizon is shaped by developers like
                you participating in <a href="/community">an
                open development process</a>.
            </p>
        </article>
    </div>
</section>
<section class="get-started">
    <div class="site-container">
        <h1>Build your first Horizon app with the ten-minute guide.</h1>
        <div class="get-started-action">
            <a class="button primary-button" href="/docs/getting-started">Get started</a>
        </div>
    </div>
</section>
<footer>
    <div class="site-container">
        <section class="about">
            <h1>Horizon is a realtime, open-source backend for JavaScript apps.</h1>
            <p>Build your app, and scale it to millions of users.</p>
            <a class="button primary-button">Install Horizon</a>
            <h2>Built by the <a href="https://rethinkdb.com">RethinkDB</a> team.</h2>
        </section>
        <nav>
            <h1>Getting started</h1>
            <ul>
                <li>FAQ</li>
                <li>Install</li>
                <li>Ten-minute guide</li>
            </ul>
        </nav>
        <nav>
            <h1>Documentation</h1>
            <ul>
                <li>API</li>
                <li>Horizon client</li>
                <li>CLI</li>
            </ul>
        </nav>
        <nav>
            <h1>Getting started</h1>
            <ul>
                <li>FAQ</li>
                <li>Install</li>
                <li>Ten-minute guide</li>
            </ul>
        </nav>
    </div>
</footer>

<script type="text/javascript" src="http://www.mattboldt.com/demos/typed-js/js/typed.custom.js"></script>
<script src="/js/terminal.js" /></script>
<!--<div class="feature modern-stacks">
    <div class="site-container">
        <h1>What does Horizon include?</h1>
        <section class="feature-content">
            <article>
                <h2>Scalable, realtime database</h2>
                <p>
                    Horizon is built on <a
                    href="https://rethinkdb.com">RethinkDB</a>, a massively
                    scalable, open-source database that streams realtime
                    updates, and scales linearly to millions of operations
                    per second. Horizon stores JSON data, and pushes
                    data and query results to clients in realtime.
                </p>
                <img src="/assets/images/landing/features/1.png">
            </article>
            <article>
                <h2>Authentication</h2>
                <p>
                    Authenticate users through Facebook, Twitter, Google,
                    GitHub, and other services, and manage user accounts,
                    sessions, and permissions through convenient APIs.
                </p>
                <img src="/assets/images/landing/features/2.png">
            </article>
            <article>
                <h2>Modular and extensible</h2>
                <p>
                    Horizon is distributed as a standalone server for
                    browser-based JavaScript apps. When you're ready to
                    write custom backend code, use the Horizon modules in
                    Node.js to smoothly transition. RethinkDB is bundled
                    with Horizon, so you can make direct database queries on
                    the backend using the powerful query language ReQL, for
                    flexible joins, aggregations, binary file support, and
                    rich querying.
                </p>
                <img src="/assets/images/landing/features/3.png">
            </article>
            <article>
                <h2>Built with love by the open source community</h2>
                <p>
                    Developed by a core team of database experts
                    and over 100 contributors from around the
                    world, Horizon is shaped by developers like
                    you participating in <a href="/community">an
                    open development process</a>.
                </p>
                <img src="/assets/images/landing/features/4.png">
            </article>
        </section>
    </div>
</div>
<div class="feature">
    <div class="site-container">
        <section class="feature-content feature-content-two">
            <h1>Scale your app in seconds</h1>
            <p>
                When you're ready to deploy your app to production, run it
                on the Horizon Cloud, or deploy on your own servers.
            </p>
            <p>
                Deploy your app to Horizon Cloud with a simple web UI, or
                powerful command-line tools:
            </p>
            <pre><code>hz deploy</code></pre>
            <p>
                Scale it to millions of users:
            </p>
            <pre><code>hz deploy --db-servers=10 --app-servers=20</code></pre>
             <a class="button outlined dark" href="/docs/sharding-and-replication/">Learn more <i class="right-arrow">go</i></a>
        </section>
        <div class="rethinkdb-ui">
            <img src="/assets/images/landing/rethinkdb-ui_@2x.png">
            <div class="ui-graph-wrapper"><div class="ui-graph"></div></div>
        </div>
    </div>
</div>-->
<!-- <section class="hero">
    <section class="description">
        <p>
            Horizon is a <strong>realtime open-source backend for JavaScript apps</strong>, built
            by the <a href="https://rethinkdb.com">RethinkDB</a> team (and an amazing community).
        </p>
        <p>
            Horizon includes APIs and tools that make it easy to quickly prototype your web
            and mobile app, and then scale it to millions of users.
        </p>
    </section>
    {% include hz-talk.html %}
</section> -->
<link href="/css/hz-animation.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/AnticipateEase.min.js"></script>
<script src="/js/hz-animation.js"></script>
