---
layout: default
type: landing
active: landing
---
<section class="hero">
    <div class="hero-left"></div>
    <div class="hero-center site-container">
        <h1>horizon</h1>
        <h2><span>Build powerful web and</span> <span>mobile apps that scale</span></h2>
        <a class="button primary-button" href="/install"><span>Install Horizon</span> {% include icons/chevron-right-hairline.svg %}</a>
    </div>
    <div class="hero-right"></div>
</section>

<!-- intro -->
<section class="intro">
    <div class="site-container">
        <section class="intro-content">
            <h1>Horizon is a realtime, <strong> open-source backend</strong> for JavaScript apps.</h1>
            <p>
                Rapidly build and deploy web or mobile apps using a
                simple JavaScript API. Scale your apps to millions of
                users without any backend code.
            </p>
            <p>
                Built by the <a href="https://rethinkdb.com">RethinkDB</a>
                team and an open-source community, Horizon lets you build
                sophisticated apps with lightning speed.
            </p>
        </section>
        <section class="hz-animation">
            {% include hz-animation.html %}
            <!--<div class="terminal-window">
                <header></header>
                <section class="terminal">
                    <div class="history"></div>
                    $&nbsp;<span class="prompt"></span>
                    <span class="typed-cursor"></span>
                </section>
            </div>-->
        </section>
    </div>
</section>

<section class="screencast">
    <div class="site-container">
        <h1>Rapidly <strong>prototype, build, and deploy</strong> JavaScript apps with Horizon.</h1>
        <div class="screencast-container">
            <section class="screencast-description">
                <h2>Everything you need to build realtime apps</h2>
                <p>
                  The Horizon server packages a realtime database with
                  convenient APIs and services that make it easy to
                  use modern JavaScript frameworks like React,
                  Angular, and React Native.
                </p>
                <a class="button primary-button" href="/docs"><span>Read the docs</span> {% include icons/chevron-right-hairline.svg %}</a>
            </section>
            <section class="hz-screenshot-container">
                <iframe width="590" height="310" src="https://www.youtube.com/embed/Sb1lH5mvYmU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>                <!--<div class="hz-screenshot"><div class="play-button"></div></div>-->
            </section>
            <!--<iframe width="960" height="540" src="https://www.youtube.com/embed/Sb1lH5mvYmU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>-->
        </div>
    </div>
</section>

<!-- features -->
<section class="features">
    <div class="site-container">
        <article class="modules">
            <h1>Modular and extensible</h1>
            <p>
                Horizon is distributed as a standalone server for
                browser-based JavaScript apps. When you're ready to
                write custom backend code, you can load the Horizon
                modules directly in Node.js. RethinkDB is bundled with
                Horizon, so you can make direct database queries on
                the backend using the powerful query language ReQL,
                for flexible joins, aggregations, binary file support,
                and rich querying.
            </p>
        </article>
        <article class="rethinkdb">
            <h1>Realtime by default</h1>
            <p>
                Horizon is built
                on <a href="https://rethinkdb.com">RethinkDB</a>, a
                massively scalable, open-source database capable of
                millions of realtime updates per second. Horizon and
                RethinkDB push updates to the client in realtime, so
                your apps can offer engaging experiences with no extra
                work.
            </p>
        </article>
        <article class="auth">
            <h1>Security and authentication</h1>
            <p>
                Authenticate users through Facebook, Twitter, Google,
                GitHub, and other services. Secure your app, manage
                user accounts, sessions, and permissions through
                convenient APIs.
            </p>
        </article>
        <article class="open-source">
            <h1>Built with love by the open source community</h1>
            <p>
                Developed by a core team of realtime data experts
                and over 100 contributors from around the
                world, Horizon is shaped by developers like
                you in <a href="/community">an
                open development process</a>.
            </p>
        </article>
    </div>
</section>
<section class="get-started">
    <div class="site-container">
        <h1>Build your first Horizon app with the ten-minute guide.</h1>
        <div class="get-started-action">
            <a class="button primary-button" href="/docs/getting-started"><span>Get started</span> {% include icons/chevron-right-hairline.svg %}</a>
        </div>
    </div>
</section>

<!--<script type="text/javascript" src="http://www.mattboldt.com/demos/typed-js/js/typed.custom.js"></script>
<script src="/js/terminal.js" /></script>-->
<link href="/css/hz-animation.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/AnticipateEase.min.js"></script>
<script src="/js/hz-animation.js"></script>
