<aside class="blog-sidebar">
    <div class="blog-sidebar-container">
        {% if blog_sidebar != 'post' %}
            <section class="read-more">
                <h1>What is Horizon?</h1>
                <p>
                    Horizon is a <strong>realtime, open-source backend</strong> for
                    JavaScript apps: <a href="/faq">learn how it works</a>.
                </p>
            </section>
        {% endif %}
        <section class="github-star">
            <div class="infobox infobox-with-arrow infobox-alert popup hidden">
                <h1>Like what you see?</h1>
                <p>
                    <i class="icon-github-popup"></i><a href="https://github.com/rethinkdb/horizon">Star this project</a> on GitHub.
                </p>
            </div>
        </section>
        {% comment %}
        <!-- TODO REMOVED -->
        <section class="subscribe-mailing-list">
            <h1>Want the latest updates?</h1>
            <input class="medium" type="text" placeholder="Your email address" type="text">
            <button class="button subscribe small" type="submit">Subscribe</button>
        </section>
        <section>
            <h1>Share this post</h1>
            <a href="icon twitter">Twitter</a>
            <a href="icon facebook">Facebook</a>
        </section>
        {% endcomment %}
    </div>
</aside>
