nav.site-nav {
    .site-container { display: flex; }

    border-bottom: thin solid lighten(black, 90);
    margin-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    a {
        text-decoration: none;
        color: $slate-grey-blue;
        align-items: center;
    }

    a.logo img {
        height: 50px;
        flex-shrink: 0;
    }

    ul {
        margin: 0;
        display: flex;
        flex-grow: 1;
        list-style-type: none;
        justify-content: flex-end;
        align-items: center;
        li {
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-right: 40px;
            color: $slate-grey-blue;

            &:last-child { padding-right: 0; }
            a { display: block; }
        }
    }
}
