nav.site-nav {
    .site-container { display: flex; }

    $_logo-height: 5rem;
    $_padding-bottom: 3rem;
    border-bottom: thin solid lighten(black, 90);
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding-bottom: $_padding-bottom;
    min-height: $_logo-height + $_padding-bottom;

    &.simple {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }

    a {
        color: $slate-grey-blue;
        text-decoration: none;
        align-items: center;
    }

    a.logo img {
        height: $_logo-height;
        flex-shrink: 0;
        margin-right: 4rem;
        min-width: 220px // TODO remove this when we have a responsive design
    }

    ul {
        margin: 0;
        display: flex;
        flex-grow: 1;
        list-style-type: none;
        justify-content: flex-end;
        align-items: center;
        li {
            font-size: 1.6rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-right: 4rem;
            &:last-child { padding-right: 0; }
            a {
                display: block;
                border-bottom: 3px solid transparent;
                padding-bottom: 0.2rem;
            }
            &.active a { border-bottom-color: lighten(desaturate(#4C6469,10), 20); }
            &.menu-trigger {
                display: none;
                padding-right: 0;
                .svg-icon {
                    $_size: 3.5rem;
                    fill: lighten($slate-grey-blue, 40);
                    width: $_size;
                    height: $_size;
                    position: relative;
                    left: 0;
                }
            }
        }

        // TODO - showing a collapsed menu trigger on smaller screens. Review this to make sure we're ok with not showing text links at $medium
        // @media (max-width: $medium) {
        //     li {
        //         font-size: 1.5rem;
        //         padding-right: 3.7rem;
        //     }
        // }
        @media (max-width: $medium) {
            // Hide other links until user taps 'Menu'
            li { display: none; }
            // Only show the 'menu' link at first
            li.menu-trigger { display: block; }

        }
    }
}

nav.mobile-menu {
    $_width: 240px;

    position: fixed;
    width: $_width;
    height: 100%;
    top: 0;
    right: -$_width;
    z-index: 100;
    @include transition(all 0.3s ease);

    background: desaturate(lighten($deep-blue, 30), 10);

    ul {
        list-style-type: none;
        margin: 0;
    }
    li {
        list-style-type: none;
        padding: 1.7rem 3rem;
        border-bottom: thin solid lighten($deep-blue, 50);
        a { color: white; }
    }

    &.show-menu {
        right: 0;
    }

}
