
.hero {
    height: 45rem;
    padding-top: 8rem;
    position: relative;
    display: flex;
    text-align: center;

    @media (max-width: $mobile) { padding-top: 2.5rem;}

    .hero-left, .hero-right, .hero-center {
        background-position: bottom;
        background-repeat: no-repeat;
        flex-grow: 1;
    }
    .hero-left, .hero-right {
        background-size: 100% auto;
        z-index: -1;
    }
    .hero-left { background-image: url('/images/landing/hero-mountains-left.png'); }
    .hero-right { background-image: url('/images/landing/hero-mountains-right.png'); }
    .hero-center {
        &:before {
            content: '';
            z-index: -1;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/images/landing/fg-mountains-sky.png');
            background-repeat: no-repeat;
            background-position: bottom center;
        }
    }

    h1 {
        font-family: $base-font-family;
        font-size: 6rem;
        font-weight: 200;
        line-height: 6rem;
        @media (max-width: $mobile) {
            font-size: 3.1rem;
            line-height: 5rem;
            margin-bottom: 3rem;
            span { display: block; }
        }
    }

    h2 {
        font-size: 3.1rem;
        font-weight: 200;
        line-height: 4.3rem;
        @media (max-width: $mobile) {
            font-size: 2.6  rem;
            line-height: 4rem;
            span { display: block; }
        }
    }
    .button { margin-top: 2rem; }
}

.intro {
    background-position: right -4px;
    background-repeat: no-repeat;
    background-size: 100% 101%;
    padding: 5.5rem 0;

    @media (max-width: $mobile) { padding: 4rem 0; }

    .site-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: top;
        @media (max-width: $medium) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    .intro-content {
        flex-basis: 620px;
        @media (max-width: $medium) { flex-basis: initial; }
        h1 {
            font-size: 2.7rem;
            margin-bottom: 3.2rem;
            line-height: 4rem;
            @media (max-width: $mobile) {
                font-size: 2.5rem;
                line-height: 3.9rem;
            }
        }
        p {
            font-size: 2.1rem;
            font-weight: 200;
            margin-bottom: 2.3rem;
            line-height: 3.8rem;
        }
    }
    .hz-animation {
        flex-grow: 1;
        margin-top: -3rem;
        padding-left: 70px;
        svg .testing-canvas { fill: none; }
        @media (max-width: $medium) {
            margin-top: 0;
            padding-left: 0;
            margin: 0 auto
        }
    }
}

.screencast {
    color: white;
    background: $bright-teal;
    background-image: url('/images/landing/map-pattern.png');
    box-shadow: 0px 3px 4px rgba(0,0,0,0.15), inset 0px 3px 7px rgba(0,0,0,0.15);
    padding: 4rem 0;

    h1, h2, p { text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) }
    h1 {
        font-size: 3.5rem;
        margin-bottom: 3.3rem;
        line-height: 5.5rem;

    }
    h2 {
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 3.5rem;
        margin-bottom: 1.6rem;
    }
    p {
        font-size: 2.1rem;
        line-height: 3.5rem;
    }
    .button { margin-top: 2.4em; }

    // Layout for section
    .screencast-container { display: flex; }
    .screencast-description { flex-basis: 510px; }
    .hz-screenshot-container {
        flex-grow: 1;
        padding-left: 50px;
        margin-top: 0.5rem;
        text-align: right;
    }

    .hz-screenshot {
        height: 300px;
        background-image: url('/images/landing/hz-screenshot.png');
        background-size: 100% auto;
        background-position: top right;
        background-repeat: no-repeat;
        border-radius: 3px 3px 0 0;
        box-shadow: 3px -2px 8px 2px rgba(0, 0, 0, 0.15);

        position: relative;
        .play-button {
            position: absolute;
            top: 0;
            background: url('/images/play-button.png');
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            background-size: 100px;
            cursor: pointer;
            @include transition(opacity 0.2s linear);
            &:hover {
                opacity: 1;
            }
        }
    }
    @media (max-width: $medium) {
        .screencast-container {
            flex-direction: column;
            align-items: stretch;
        }
        .screencast-description {
            flex-basis: initial;
            order: 2
        }
        .hz-screenshot-container {
            text-align: left;
            padding-left: 0;
            margin-bottom: 3rem;
            order: 1;
        }
    }
    @media (max-width: $mobile) {
        h1 {
            font-size: 3rem;
            line-height: 4.5rem;
        }
        .screencast p {
            font-size: 2rem;
            line-height: 3.3rem;
        }
    }
}

.features {
    padding: 8.5rem 0;

    article {
        $_size: 175px;
        margin-bottom: 7.7rem;
        padding-left: $_size + 100px;
        background-repeat: no-repeat;
        background-size: auto $_size;
        min-height: $_size;

        &.rethinkdb { background-image: url('/images/landing/icons/bridge.png') }
        &.auth { background-image: url('/images/landing/icons/auth.png') }
        &.modules { background-image: url('/images/landing/icons/modules.png') }
        &.open-source { background-image: url('/images/landing/icons/built-love.png') }

        .feature-body { margin-left: 50px; }
        &:last-child { margin-bottom: 0; }


    }

    h1 {
        font-size: 2.3rem;
        font-weight: 500;
    }

    p {
        font-size: 2rem;
        line-height: 3.7rem;
    }

    @media (max-width: $mobile) {
        padding: 5.5rem 0;
        article {
            background-size: 150px auto;
            padding-top: 200px;
            padding-left: 0;
            &.rethinkdb { padding-top: 180px; }
            &.modules { padding-top: 225px; }
            &.open-source { padding-top: 180px; }
        }
        p {
            font-size: 1.9rem;
            line-height: 3.7rem;
        }
    }
}

.get-started {
    padding: 1.3rem 0;
    background: $bright-blue;
    color: white;

    .about {
        h1 { font-size: 2.6rem; }
    }
    .site-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    h1 {
        font-size: 2.7rem;
        line-height: 5.3rem;
        margin: 0;
        margin-right: 5rem
    }

    .button { padding: 0.8rem 3.5rem; }

    @media (max-width: $mobile) {
        .site-container {
            flex-direction: column;
            align-items: flex-start;
        }
        h1 {
            font-size: 2.5rem;
            line-height: 3.5rem;
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }
}
