
.hero {
    height: 450px;
    padding-top: 80px;
    position: relative;
    display: flex;
    text-align: center;

    .hero-left, .hero-right, .hero-center {
        background-position: bottom;
        background-repeat: no-repeat;
        flex-grow: 1;
    }
    .hero-left, .hero-right {
        background-size: 100% auto;
    }
    .hero-left { background-image: url('/images/landing/hero-mountains-left.png'); }
    .hero-right { background-image: url('/images/landing/hero-mountains-right.png'); }
    .hero-center {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/images/landing/fg-mountains.png');
            background-repeat: no-repeat;
            background-position: bottom center;
        }
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 500;
    }
    h2 {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2.5rem;
    }
    .button {
        margin-top: 30px;
    }
}

.intro {
    background-position: right -4px;
    background-repeat: no-repeat;
    background-size: 100% 101%;
    padding: 55px 0;

    .site-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: top;
    }

    .intro-content {
        flex-basis: 620px;
        h1 {
            font-size: 1.7rem;
            margin-bottom: 2rem;
        }
        p {
            font-size: 1.3rem;
            font-weight: 200;
            margin-bottom: 1.5rem;
            line-height: 2.4rem;
        }
    }
    .hz-animation {
        flex-grow: 1;
        margin-top: -30px;
        padding-left: 70px;
        svg .testing-canvas { fill: none; }
    }
}

.terminal-window {
    text-align: left;
    width: 600px;
    height: 380px;
    position: relative;
    $header-height: 25px;

    .gray { color: gray; }
    .green { color: green; }

    header {
        background: #E0E8F0;
        height: $header-height;
        border-radius: 7px 7px 0 0;
        padding-left: 10px;
    }
    section.terminal {
        color: white;
        font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
        font-size: 1rem;
        background: #30353A;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        top: 25px;
        bottom: 0;
        overflow: auto;
        .typed-cursor {
            opacity: 1;
            @include animation(blink 0.7s infinite);
        }
        .terminal-data { display: none; }
    }
    @include keyframes(blink) {
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
}

.screencast {
    color: white;
    background: $bright-teal;
    background-image: url('/images/landing/map-pattern.png');
    box-shadow: 0px 3px 4px rgba(0,0,0,0.15), inset 0px 3px 7px rgba(0,0,0,0.15);
    padding: 55px 0;

    h1, h2, p { text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) }
    h1 {
        font-size: 2.2rem;
        margin-bottom: 2.2rem;
    }
    h2 {
        font-weight: 500;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.3rem;
        line-height: 2.2rem;
    }
    .button {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .screencast-container { display: flex; }
    .screencast-description { flex-basis: 510px; }
    .hz-screenshot-container {
        flex-grow: 1;
        padding-left: 80px;
    }
    .hz-screenshot {
        height: 300px;
        background-image: url('/images/landing/hz-screenshot.png');
        background-size: 100% auto;
        background-position: top right;
        background-repeat: no-repeat;
        border-radius: 3px 3px 0 0;
        box-shadow: 3px -2px 8px 2px rgba(0, 0, 0, 0.15);

        position: relative;
        .play-button {
            position: absolute;
            top: 0;
            background: url('/images/play-button.png');
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            background-size: 100px;
            cursor: pointer;
            @include transition(opacity 0.2s linear);
            &:hover {
                opacity: 1;
            }
        }
    }

}

.features {
    padding: 85px 0;

    article {
        $_size: 175px;
        margin-bottom: 4.8rem;
        padding-left: $_size + 100px;
        background-repeat: no-repeat;
        background-size: auto $_size;
        min-height: $_size;

        &.rethinkdb { background-image: url('/images/landing/icons/bridge.png') }
        &.auth { background-image: url('/images/landing/icons/auth.png') }
        &.modules { background-image: url('/images/landing/icons/modules.png') }
        &.open-source { background-image: url('/images/landing/icons/built-love.png') }

        .feature-body { margin-left: 50px; }
        &:last-child { margin-bottom: 0; }
    }

    h1 {
        font-size: 1.4rem;
        font-weight: 500;
    }

    p {
        font-size: 1.2rem;
        line-height: 2.3rem;
    }
}

.get-started {
    padding: 13px 0;
    background: $bright-blue;
    color: white;

    .about {
        h1 { font-size: 1.6rem; }
    }
    .site-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    h1 {
        font-size: 1.7rem;
        line-height: 3.3rem;
        margin: 0;
        flex-grow: 1;
    }

    .button { padding: 8px 35px; }
}

footer {
    background: $deep-blue;
    color: white;
    padding: 60px 0;

    h1.github {
        font-size: 1.3rem;
        a {
            color: white;
            border-bottom: thin dashed lighten($deep-blue, 40);
        }
    }

    .site-container {
        display: flex;
        flex-wrap: nowrap;
    }

    .about {
        flex-basis: 375px;
        margin-right: 125px;

        h1.hz {
            $_offset: 2px;
            $_size: 50px;
            font-size: 1.2rem;
            margin-bottom: 1.1rem;
            padding-left: $_size + 14px;
            background-image: url('/images/horizon-mark.png');
            background-repeat: no-repeat;
            background-position: left $_offset;
            background-size: $_size - $_offset;
        }
        p {
            font-size: 1rem;
            margin-bottom: 1.7rem;
        }

        .button {
            $_size: 1.5rem;
            background: $gentle-green;
            background-image: url('/images/icons/icon-github-footer.png');
            background-repeat: no-repeat;
            background-position: 1.1rem center;
            background-size: $_size auto;
            font-size: 1.1rem;
            text-align: left;
            padding: 0.6rem 1rem 0.6rem $_size + 1.8rem;
            line-height: 1.4rem;
        }
    }

    .footer-right { flex-grow: 1;}
    nav {
        display: flex;
        margin-bottom: 30px;
        section {
            flex-grow: 1;
            margin: 0 40px;
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
        }
        h1 {
            font-size: 1.2rem;
            text-transform: lowercase;
            border-bottom: thin solid lighten($deep-blue, 10);
            padding-bottom: 0.3rem;
        }
        ul { margin: 0; }
        li {
            list-style-type: none;
            font-size: 1rem;
        }
    }
}
