 .team-main{

    .site-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: top;
        @media (max-width: $medium) {
            align-items: stretch;
        }
        .intro {
            margin-bottom: 20px;
        }
        .team {
            margin-bottom: 30px;
        }
    }

    .team-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    .contact-info {
            display: flex;
            flex-direction: column;
            align-items: left;
            margin-top: 50px;
            margin-bottom: 50px;
    }

}
