---
layout: default
title: Blog
active: blog
body_class: blog
---
<section class="blog document">
    <div class="site-container">
        <section class="posts">
            {% for post in paginator.posts %}
                {% comment %}<!-- Get the avatar for the author -->{% endcomment %}
                {% if post.author_twitter %}
                    {% capture avatar %}/images/blog/authors/{{ post.author_twitter }}.png{% endcapture %}
                    {% capture author_link %}https://twitter.com/{{ post.author_twitter }}{% endcapture%}
                {% else %}
                    {% assign avatar = '/images/blog/authors/horizon.png' %}
                    {% assign author_link = 'https://twitter.com/horizonjs' %}
                {% endif %}

                <article class="post">
                    <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                    <section class="post-byline">
                        <a class="avatar" href="{{ author_link }}">
                            <img src="{{ avatar }}">
                            <!--default-->
                            {% if post.author %}
                                {{ post.author }}
                            {% else %}
                                Horizon Team
                            {% endif %}
                        </a>
                        <span class="post-timestamp">{{ post.date | date: "%B %d, %Y" }}</span>
                        <ul class="post-tags">
                            {% for tag in post.tags %}
                                <li><a href="#">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="post-hero">
                        {% if post.hero_image %}
                            <img src="/images/posts/{{ post.hero_image }}">
                        {% endif %}
                    </section>
                    <section class="post-body">
                        {{ post.excerpt | markdownify }}
                    </section>
                    <a class="post-link button" href="{{post.url}}"><span>Read the full post</span>{% include icons/chevron-right-hairline.svg %}</a>
                </article>
            {% endfor %}
            <section class="pagination">
                <a href="{{ paginator.next_page_path }}" class="pager older-posts">{% include icons/chevron-left.svg %}<span>Older posts</span></a>
                <a href="{{ paginator.previous_page_path }}" class="pager newer-posts"><span>Newer posts</span> {% include icons/chevron-right.svg %} </a>
            </section>
        </section>
        {% include blog-sidebar.html %}
    </div>
</section>
