a.button {
    display: inline-block;
    font-size: 1.9rem;
    text-align: center;
    padding: 1rem 3.5rem;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    * { vertical-align: middle; }

    &.primary-button {
        background: rgb(238,122,117);
        color: white;
    }
}
