<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/github.css">

        <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="shortcut icon" href="/favicon/favicon.ico">

        <script type="text/javascript" src="//fast.fonts.net/jsapi/5cf5064a-b80d-4123-82d3-5c7a863edb22.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/site.js"></script>
    </head>

    <body>
        <nav class="site-nav{% if page.type == 'landing' %} simple{% endif %}">
            <div class="site-container">
                <a class="logo" href="/"><img src="/images/horizon-logo.png" alt="Horizon"></a>
                <ul class="navbar-links">
                    <li><a href="/cloud">Horizon Cloud</a></li>
                    <li>Install</li>
                    <li><a href="/docs">Docs</a></li>
                    <li><a href="/community">Community</a></li>
                </ul>
            </div>
        </nav>
        <section class="site-content">
            {{ content }}
        </section>
        <footer>
            <div class="site-container">
                <section class="about">
                    <h1 class="hz">Horizon is a <strong>realtime, open-source backend</strong> for JavaScript apps.</h1>
                    <a class="button primary-button">Star the project on GitHub</a>
                </section>
                <section class="footer-right">
                    <nav class="site-map">
                        <section>
                            <h1>Getting started</h1>
                            <ul>
                                <li>FAQ</li>
                                <li>Install</li>
                                <li>Ten-minute guide</li>
                            </ul>
                        </section>
                        <section>
                            <h1>Documentation</h1>
                            <ul>
                                <li>API</li>
                                <li>Horizon client</li>
                                <li>CLI</li>
                            </ul>
                        </section>
                        <section>
                            <h1>Getting started</h1>
                            <ul>
                                <li>FAQ</li>
                                <li>Install</li>
                                <li>Ten-minute guide</li>
                            </ul>
                        </section>
                    </nav>
                    <h1 class="github">Built by the <a href="https://rethinkdb.com">RethinkDB team</a> and an amazing community.</h2>
                </section>
            </div>
        </footer>
        <!--<script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '56fb1a594b2ffa61f100a699');
            t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
            t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-9922584-3', 'auto');
          ga('send', 'pageview');

      </script>-->
    </body>
</html>
